<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicaciones</title>
    <link rel="stylesheet" href="app.css">
</head>

<body>
    <h1>Tipos de aplicaciones</h1>
    <p>Una aplicación móvil es una aplicación informática diseñada para ser ejecutada en teléfonos inteligentes,
        tabletas y otros dispositivos móviles.</p>
    <h2>Aplicaciones mas conocidas</h2>
    <ul>
        <li id="verde"><a id="verde" href="https://web.whatsapp.com/">whatsapp web</a></li>
        <li id="morado"><a id="morado" href="https://www.instagram.com/">instagram</a></li>
        <li id="azul"><a id="azul" href="https://www.facebook.com/?locale=es_LA">facebook</a></li>
        <li id="negro"><a id="negro" href="https://x.com/?lang=es">twitter</a></li>
        <li id="gris"><a id="gris"
                href="https://www.tiktok.com/login?lang=es&redirect_url=https%3A%2F%2Fwww.tiktok.com%2Fupload%3Flang%3Des">Tiktok</a>
        </li>
    </ul>
</body>

</html>