<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Louis Vuitton</title>
    <link rel="stylesheet" href="../public/css/new.css">
    <script src="https://kit.fontawesome.com/544876a7ca.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>

        <img class="logo" src="../public/images/png-transparent-louis-vuitton-hd-logo-removebg-preview.png" alt="louis vuitton">


        <ul id="opciones">
            <li> <a class="a-lista" href="#bolsos">Bolsos</a></li>
            <li><a class="a-lista" href="#prendas">Prendas</a></li>
            <li><a class="a-lista" href="#perfumes">Perfumes</a></li>
            <li><a class="a-lista" href="">Metodo de pago</a></li>
        </ul>

        <form action="">
            <input type="text" placeholder="Buscar Prendas...">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </header>
    <main>
        <h2 id="opcion">Bolsos</h2>
        <section id="bolsos">
            
            <article>
                <h3>Bolsa Twist West</h3>
                <img class="article-image" src="../public/images/bolsorosa.png"
                    alt="Cartera">
                <p class="price">$650.000</p>

            </article>
            <article>
                <h3>Vuitton palais bag</h3>
                    <img class="article-image" src="../public/images/bolsoxd.webp"
                        alt="Cartera">
                    <p class="price">$700.000</p>
            </article>
            <article>
                <h3>Vuitton palais petit bag</h3>
                <img class="article-image"
                    src="../public/images/louis-vuitton-bolsa-onthego-mm-bicolor-monogram-empreinte-leather-bolsas-de-mano--M45495_PM1_Back view.webp"
                    alt="Cartera">

                <p class="price">$400.000</p>
            </article>
        </section>
        <h2 id="opcion">Prendas</h2>
        <section id="prendas">
            
            <article>
                <h3>Pulsera Hockenheim</h3>
                <img class="article-image" src="../public/images/pulsera.avif"
                    alt="Cartera">
                <p class="price">$800.000</p>

            </article>
            <article>
                <h3>Cangurera Low Key</h3>
                    <img class="article-image" src="../public/images/bandolero.avif"
                        alt="Cartera">
                    <p class="price">$780.000</p>
            </article>
            <article>
                <h3>Essential V Guilloché Choker</h3>
                <img class="article-image"
                    src="../public/images/collar.avif"
                    alt="Cartera">

                <p class="price">$956.000</p>
            </article>
        </section>
        <h2 id="opcion">Perfumes</h2>
        <section id="perfumes">
            
            <article>
                <h3>Repuesto de vaporizador de viaje Spell on You</h3>
                <img class="article-image" src="../public/images/perfume rosa.avif"
                    alt="Cartera">
                <p class="price">$154.000</p>

            </article>
            <article>
                <h3>Perfume Imagination LV Remix</h3>
                    <img class="article-image" src="../public/images/perfume azul.avif"
                        alt="Cartera">
                    <p class="price">$348.000</p>
            </article>
            <article>
                <h3>LV x YK perfume L'Immensité</h3>
                <img class="article-image"
                    src="../public/images/amarillo.avif"
                    alt="Cartera">

                <p class="price">$370.000</p>
            </article>
        </section>

    </main>
    <footer>
        <div class="information">
            <img class="logo" src="../public/images/png-transparent-louis-vuitton-hd-logo-removebg-preview.png" alt="lgo">

            <ul>

                <li id="redes"><a class="a-lista" href="https://www.instagram.com/louisvuitton/">Instagram</a></li>
                <li id="redes"><a class="a-lista" href="https://www.facebook.com/LouisVuitton/?locale=es_LA">Facebook</a></li>
                <li id="redes"><a class="a-lista" href="https://x.com/LouisVuitton?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">Twitter</a></li>

            </ul>
        </div>
        <p id="derechos">Louis Vuitton 2024© Copyright Todos los reservados </p>


    </footer>
</body>

</html>