h1 {
    display: inline;
   color: darkblue; 
   font-size: 30px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 500;
   font-style: italic;
}
p{
    display: inline;
}

#verde {
    color: rgb(255, 142, 127);
}
.rosa {
    color: blueviolet;
}
.morado{
    color: blueviolet;
}
h1 {
   margin: 10px 20px;
}

ul{
display: flex;
justify-content: center;
align-items: center;
}
